[Unit]
Description=VNT CLI Service
After=network.target

[Service]
ExecStart=/usr/local/bin/vnt-cli -f /root/.config/rustvnt/config.yaml
Restart=always
User=root
WorkingDirectory=/usr/local/bin
StandardOutput=journal
StandardError=journal
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/sbin:/usr/sbin:$PATH
Environment=RUST_BACKTRACE=1
RestartSec=5

[Install]
WantedBy=multi-user.target
